body {
  margin: 0;
  background-color: #f7f9fb;
  color: #1b2a41;
  font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
